<html>
<head>
  <style>
    body {
      margin: 0;
      background-color: <%- isTransparent ? 'transparent' : 'black' %>;
    }

    #viewport {
      overflow: hidden;
      <% if (maskUrl) { %>-webkit-mask-image: url(<%- maskUrl %>);<% } %>
    }

    #viewport div {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-areas: "viewport";
    }

    #viewport div > * {
      grid-area: viewport;
      width: 100%;
      height: 100%;
      border: none;
      isolation: isolate;
    }
  </style>

  <script>
    window.ready =
      fn => { document.readyState !== 'loading' ? fn() : document.addEventListener('DOMContentLoaded', fn) }
  </script>
</head>
<body>
  <div id="viewport">
    <%- include('composite-group.html', group) %>
  </div>

  <script><%
    const styles = {}
    const groups = [group]

    while (groups.length > 0) {
      const {id, layers} = groups.shift()

      for (let index = 0; index < layers.length; ++index) {
        const {group: subGroup, style} = layers[index]

        if (subGroup) groups.push(subGroup)
        if (Object.keys(style).length > 0) styles[`#${id} > *:nth-child(${index + 1})`] = style
      }
    }
  %>
    ready(() => {
      <% for (const selector in styles) {
        const style = styles[selector]
      %>
        (style => {
          <% for (const property in style) { %>
            style[<%- json(property) %>] = <%- json(style[property]) %>
          <% } %>
        })(document.querySelector(<%- json(selector) %>).style)
      <% } %>
    })
  </script>
</body>
</html>
