<html>
<head>

<style>
  body {
    margin: 0;
    background-color: <%- isTransparent ? 'transparent' : 'black' %>;
  }

  #viewport {
    overflow: hidden;
    <% if (maskUrl) { %>-webkit-mask-image: url(<%- maskUrl %>);<% } %>
  }

  #viewport div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "viewport";
  }

  #viewport div > * {
    grid-area: viewport;
    width: 100%;
    height: 100%;
    border: none;
    isolation: isolate;
  }
</style>

<script>
  window.ready =
    fn => { document.readyState !== 'loading' ? fn() : document.addEventListener('DOMContentLoaded', fn) }
</script>

</head>
<body>

<div id="viewport">
<%- include('composite-group.html', {depth: 0, group, style: {}}) %>
</div>

<script>
  ready(() => {
    document.querySelectorAll('[data-style]').forEach(element => {
      const style = JSON.parse(element.dataset.style)

      Object.entries(style).forEach(([property, value]) => {
        element.style[property] = value
      })
    })
  })
</script>

</body>
</html>
