<%

const {
  name,
  tag: {
    body: bodyTags = [],
    icon: iconTags = [],
    meta: metaTags = [],
  },
} = manifest

%><html>
<head>
  <title><%= name %></title>

  <!-- iconduit-start -->
<% for (const {html} of metaTags) { %><%- `\n  ${html}` %><% } %>
<% for (const {html} of iconTags) { %><%- `\n  ${html}` %><% } %>

  <!-- iconduit-end -->
</head>
<body>
  <h1><%= name %></h1>

  <!-- iconduit-start -->
<% for (const {html} of bodyTags) { %><%- `\n  ${html}` %><% } %>

  <!-- iconduit-end -->
</body>
</html>
