<%

const {
  language,
  name,
  tag: {
    appleTouchStartup: appleTouchStartupTags = [],
    facebook: facebookTags = [],
    icon: iconTags = [],
    link: linkTags = [],
    meta: metaTags = [],
    openGraph: openGraphTags = [],
    openGraphImage: openGraphImageTags = [],
    script: scriptTags = [],
    twitter: twitterTags = [],
    twitterImage: twitterImageTags = [],
  },
} = manifest

%><!DOCTYPE html>
<html lang="<%= language %>">
<head>
  <meta charset="utf-8">

  <title><%= name %></title>

  <!-- iconduit-start -->
<% for (const {html} of metaTags) { %><%- `\n  ${html}` %><% } %>
<% for (const {html} of linkTags) { %><%- `\n  ${html}` %><% } %>
<% for (const {html} of iconTags) { %><%- `\n  ${html}` %><% } %>
<% for (const {html} of appleTouchStartupTags) { %><%- `\n  ${html}` %><% } %>
<% for (const {html} of openGraphTags) { %><%- `\n  ${html}` %><% } %>
<% for (const {html} of openGraphImageTags) { %><%- `\n  ${html}` %><% } %>
<% for (const {html} of facebookTags) { %><%- `\n  ${html}` %><% } %>
<% for (const {html} of twitterTags) { %><%- `\n  ${html}` %><% } %>
<% for (const {html} of twitterImageTags) { %><%- `\n  ${html}` %><% } %>

  <!-- iconduit-end -->
</head>
<body>
  <h1><%= name %></h1>

  <!-- iconduit-start -->
<% for (const {html} of scriptTags) { %><%- `\n  ${html}` %><% } %>

  <!-- iconduit-end -->
</body>
</html>
